<div class="ui raised segment signin">
  <div class="cmborder">
    <%= form_tag("/message", method: "post") do %>
      <!-- <p>Go ahead and message your guide</p> -->
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <%= text_field_tag 'firstName', nil, class: "ui input", placeholder: "First Name" %>
        </div>
        <div class="field">
          <label>Last Name</label>
          <%= text_field_tag 'lastName', nil, class: "ui input", placeholder: "Last Name" %>
        </div>
      </div>
      <div class="field">
        <label>Message title</label>
        <%= text_field_tag 'messageTitle', nil, class: "ui input", placeholder: "Message Title" %>
      </div>
      <div class="field">
        <label>Message</label>
        <%= text_area_tag 'messageBody', nil, class: "ui input", placeholder: "Message Body" %>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <!-- <input type="checkbox" id="terms">
          <label for="terms">I agree to the terms and conditions</label> -->
        </div>
      </div>
      <%= submit_tag "Submit", class: "ui blue submit button" %>

    <% end %>
  <span class='close_message' id="messageclose">&times;</span>
  </div>
</div>