<div id="allUserPinsWindow" class="ui raised segment signin">
  <div class="cmborder">
    <table class="ui table segment">
        <thead>
          <tr><th>Title</th>
          <th>Activity</th>
          <th>Description</th>
          <th colspan="2">Actions</th>
        </tr></thead>
        <tbody>
          {{#each user/guide_pins}}
          <tr>
            <td>{{title}}</td>
            <td>{{activity}}</td>
            <td>{{description}}</td>
            <td>
              <i class="circular large edit link icon"></i>
            </td>
            <td>
              <i class="circular large trash link icon"></i>
            </td>
          </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
  <div class='close_message' id="messageclose">&times;</div>
</div>

<script>
  $( "#messageclose" ).on("click", function() {
      $('#allUserPinsWindow').fadeOut();
    });
</script>