<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from <%= @firstName %> <%= @lastName %></h1>
    <p>
      <%= @messageBody %>
    </p>
    <p>
      This user's email is <%= @currentUserEmail %>
    </p>
  </body>
</html>