
  <div class="ui fixed transparent inverted menu">
    <a class="active item brand">
      <i class="white url icon"></i> Show me the Ropes
    </a>

    <div class="item">
      <div class="ui secondary labeled icon toggle button">
        <i class="reorder icon"></i> Activities
      </div>
    </div>
    <div class="item">
      <div class="ui secondary icon button" id="addpin">
        Add pin
      </div>
    </div>

    <div class="right menu">
      <div class="item">
        <div class="ui input email">
          <input type="text" placeholder="Email">
        </div>
      </div>
      <div class="item">
        <div class="ui input password">
          <input type="password" placeholder="Password">
        </div>
      </div>
      <div class="item">
        <div class="ui button">Log-in</div>
      </div>
      <div class="item">
        <div class="ui teal button">Sign up</div>
      </div>
    </div>
  </div>
  <div class="ui left top sidebar">
    <a class="active item">
      <i class="heart large icon"></i>
    </a>
    <a class="active item">
      <i class="heart large icon"></i>
    </a>
  </div>

  <div id="map_canvas"></div>
  <div class="popin"></div>

<script type="text/javascript">
  $(document).ready(function() {
  $( "#profile" ).on("click", function() {
    $.get('/profile.html', function(response) {
        $('.popin').html(response).fadeIn();
      });
    });
  });
</script>

<script type="text/javascript">
  $('.sidebar').first()
  .sidebar('attach events', '.toggle.button')
  ;
  $('.toggle.button')
    .removeClass('disabled')
  ;
</script>
<%= javascript_include_tag "pin_drop" %>
