<div class="message">
  <div class="ui raised segment signin">
  <form class="ui form attached fluid segment">
    <div class="field">
      <label>Pin title</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Pin description</label>
      <textarea></textarea>
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" id="terms">
        <label for="terms">I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui blue submit button">Submit</div>
  </form>
  <span class="close_pindrop" id="messageclose">&times;</span>
  </div>
</div>