<div class="ui raised segment signin">
  <h3 class="ui inverted green block header"> Daisy Miers </h3>
  <div class="ui two column grid basic segment">
    <div class="column">

      <div class="ui form">
        <div class="profileWidget">
        <img class="profile" src="http://distilleryimage9.ak.instagram.com/9ca973da19f511e28c8422000a1f931c_7.jpg" alt="" />
        </div>
      </div>
    </div>


    <div class="ui vertical divider"></div>
    <div class="center aligned column">
      <!-- <h4 class="ui header"> Experience </h4> -->
      <p>Daisy is an experience skiier, climber and hiker. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. </p>
    </div>

  </div>

  <div class="ui divider"></div>
  <div class="footer">
  <p>Ropes rating:</p>
  <span class='close'>&times;</span>
  </div>

</div>

